.advanced-toggle-wrapper {
    display: flex;
    align-items: center;
    max-width: 50px;
    max-height: 30px;
  }
  
  .advanced-toggle {
    width: 50px;
    height: 24px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-slider {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-slider.toggled {
    transform: translateX(26px);
  }
  
  .toggle-label {
    display: none;
  }